Source: cz-ldap-utils
Section: admin
Priority: optional
Maintainer: Bill MacAllister <bill@ca-zephyr.org>
Build-Depends: debhelper (>= 9),
 libappconfig-perl,
 libgetopt-long-descriptive-perl,
 libipc-run-perl,
 libterm-readpassword-perl,
 perl,
 perl-doc,
 perltidy,
 php-cli,
 php-ldap
Standards-Version: 3.9.8

Package: cz-ldap-scripts
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends},
 libappconfig-perl,
 libgetopt-long-descriptive-perl,
 libipc-run-perl,
 perl-doc
Breaks: ca-zephyr-ldap
Description: Utility scripts for CA Zephyr LDAP servers
 This package contains scripts to aid in the maintenance of
 LDAP servers.

Package: cz-ldap-monitor
Architecture: all
Depends: ${misc:Depends},
 apache2,
 libapache2-mod-php7.2,
 ldap-utils,
 php-ldap
Breaks: ca-zephyr-ldap
Description: A primitive real time monitor for OpenLDAP servers.
